<div class="row">
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <div class="blog no-margin">
    <div class="blog-header">
      <h4 class="blog-title"><%= @race.name %></h4>
      <p class="date-time">
          <span class="day">
              <i class="fa fa-calendar"></i> <%= l @race.start_at %> — <%= l @race.end_at %>
          </span>
          <span class="day hidden-xs">
              <i class="fa fa-reorder"></i> <%= @race.stages.count %> stages
          </span>
      </p>
    </div>
    <div class="blog-body">
        <table class="table table-condensed table-bordered no-margin">
          <tbody>
          <% @race.stages.order(:start_at).each do |stage| %>
            <%= render stage %>
          <% end %>
          </tbody>
        </table>
     </div>
  </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<%= render partial: 'stages/overall_standing', locals: { overall: @overall, title: 'General overall standing' } %>

<%= render partial: 'stages/overall_standing', locals: { overall: @overall_spriners, title: 'Sprinters overall standing' } %>

<%= render partial: 'stages/overall_standing', locals: { overall: @overall_mountains, title: 'Mountains overall standing' } %>
</div>
</div>