<div class="blog no-margin">
  <div class="blog-header">
    <h4 class="blog-title"><%= @race.name %></h4>
    <p class="date-time">
        <span class="day">
            <i class="fa fa-calendar"></i> <%= l @race.start_at %> — <%= l @race.end_at %>
        </span>
        <span class="day hidden-xs">
            <i class="fa fa-reorder"></i> <%= @race.stages.count %> stages
        </span>
    </p>
  </div>
  <div class="blog-body">
      <table class="table table-condensed table-bordered no-margin">
        <tbody>
        <% @race.stages.each do |stage| %>
        <tr>
          <td style="width: 35px;"><%= stage.stage_number %></td>
          <td class="col-md-2">
            <%= l stage.start_at, format: :short %>
            <% if stage.start_at.today? %>
              <span class="badge badge-success">Today</span>
            <% end %>
          </td>
          <td>
            <%= stage_type stage %>
            <%= link_to stage.name, race_stage_path(@race, stage) %>
          </td>
          <td class="col-md-1"></td>
        </tr>
        <% end %>
        </tbody>
      </table>
   </div>
</div>

<% content_for :sidebar do %>
<%= render partial: 'stages/overall_standing', locals: { overall: @overall, title: 'Overall standing' } %>
<% end %>