<style type="text/css">.label {padding: 0.2em 0.6em 0.2em!important}</style>
<div class="row">

<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <div class="blog no-margin">
    <div class="blog-header">
      <h4 class="blog-title"><%= @race.name %></h4>
      <p class="date-time">
          <span class="day">
              <i class="fa fa-calendar"></i> <%= l @race.start_at %> — <%= l @race.end_at %>
          </span>
          <span class="day hidden-xs">
            <i class="fa fa-reorder"></i> <%= t '.stage_count', count: @race.stages.only_race.count %>
          </span>
      </p>
    </div>
    <div class="blog-body">

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#stages" data-toggle="tab" title="Stages">Stages</a>
        </li>
        <li class="">
          <a href="#predict" data-toggle="tab" title="Predict">Predict</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade active in" id="stages">
          <%= render 'race_list' %>
        </div>

        <div class="tab-pane fade" id="predict">

        </div>

      </div>
     </div>
  </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<% unless @result_ready %>
<%= render partial: 'stages/overall_standing', locals: { overall: @overall, title: t('message.overall_classifications') } %>

<%= render partial: 'stages/overall_standing', locals: { overall: @overall_spriners, title: t('message.sprinters_classifications') } if @overall_spriners %>

<%= render partial: 'stages/overall_standing', locals: { overall: @overall_mountains, title: t('message.mountains_classifications') } if @overall_mountains %>
<% end %>

  <% if @race.end_at < Time.now and policy(@race).calculate? %>
    <a href="<%= calculate_race_path @race %>" class="btn btn-default"><%= t '.caclulate_race' %></a>
  <% end %>
</div>
</div>