<style type="text/css">.label {padding: 0.2em 0.6em 0.2em!important}</style>
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <div class="blog no-margin">
    <div class="blog-header">
      <h4 class="blog-title"><%= @race.name %></h4>
      <p class="date-time">
          <span class="day">
              <i class="fa fa-calendar"></i> <%= l @race.start_at %> — <%= l @race.end_at %>
          </span>
          <span class="day hidden-xs">
            <i class="fa fa-reorder"></i> <%= t '.stage_count', count: @race.stages.only_race.count %>
          </span>
      </p>
    </div>
    <div class="blog-body">
        <table class="table table-condensed table-bordered no-margin">
          <tbody>
          <% @race.stages.order(:start_at).each do |stage| %>
            <%= render stage %>
          <% end %>
          </tbody>
        </table>
     </div>
  </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
<%= render partial: 'stages/overall_standing', locals: { overall: @overall, title: t('message.overall_classifications') } %>

<%= render partial: 'stages/overall_standing', locals: { overall: @overall_spriners, title: t('message.sprinters_classifications') } if @overall_spriners %>

<%= render partial: 'stages/overall_standing', locals: { overall: @overall_mountains, title: t('message.mountains_classifications') } if @overall_mountains %>
</div>
</div>