<table class="table table-condensed table-bordered no-margin">
<tbody>
  <% prev_date = 100.years.ago %>
  <% @round.matches.order(:start_at).each do |match| %>
    <% # заголовок с датой %>
    <% if prev_date.to_date != match.start_at.to_date %>
    <tr>
      <td colspan="2"><h5 class="match-date"><%= l match.start_at, format: '%d %b %Y' %></h5></td>
    </tr>
    <% end %>
    <tr style="border-bottom: none">
      <td style="border-bottom: none">
        <h4 class="teams">
          <span class="badge badge-<%= match_time_class(match, current_user) %> matchtime"><%= l match.start_at, format: '%H:%M' %></span>
          <%= match.team1 %>&nbsp;&nbsp;<b><%= match.score1_str %></b>:<b><%= match.score2_str %></b>&nbsp;&nbsp;<%= match.team2 %>
        </h4>
      </td>
    </tr>
    <% match_predict = MatchPredict.find_or_create_by(user_id: current_user.id, match_id: match.id) %>
    <%= form_for(match_predict, url: predicts_match_path(match), html: { novalidate: 'novalidate' }) do |f| %>
      <tr style="border-top: none">
        <td style="border-top: none">

          <% if match.match_predicts.where('user_id <> ?', current_user.id).count > 0 %>
          <p>
          <table class="table table-condensed table-bordered no-margin">
          <tbody>
            <% match.match_predicts.where('user_id <> ?', current_user.id).order(:updated_at).each do |predict| %>
              <%= render predict %>
            <% end %>
          </tbody>
          </table>
          </p>
          <% end %>

          <p>
            <%= match_predict_status match %>
            Ваш прогноз: <%= f.text_field :score1, size: 2, style: 'text-align:right' %>:<%= f.text_field :score2, size: 2 %>&nbsp;&nbsp;
            <%= f.submit t('.send'), class: 'btn btn-default btn-xs predict-btn' %>
          </p>
        </td>
      </tr>
    <% end %>
    <% prev_date = match.start_at %>
  <% end %>
</tbody>
</table>
