<div class="col-md-12 col-sm-12 col-sx-12">
  <div class="current-profile">
      <div class="user-bg"></div>
      <div class="user-pic" style="background: url('<%= @user.avatar.url(:profile) %>') no-repeat scroll center center transparent;">&nbsp;</div>
      <div class="user-details">
          <h4 class="user-name"><%= @user.username %></h4>
          <h5 class="description"></h5>
      </div>
      <div class="social-list">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="row">
                      <div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
                          <h3><%= @user.stage_predicts.count %></h3>
                          <small><%= t '.predicts' %></small>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
                          <h3><%= @user.stage_predicts.guessed_predict.count %></h3>
                          <small><%= t '.guessed' %></small>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
                          <h3><%= @user.predict_results.won.count %></h3>
                          <small><%= t '.wins' %></small>
                      </div>
                      <div class="col-md-3 col-sm-3 col-xs-3 center-align-text">
                          <h3><%= @user.race_results.won.count %></h3>
                          <small><%= t '.prize_jersey' %></small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>