<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="blog blog-info no-margin">
      <div class="blog-header">
        <h5 class="blog-title">Stages</h5>
      </div>
      <div class="blog-body">
        <div class="table-responsive">
          <h5>Today stages</h5>
          <table class="table table-condensed table-bordered no-margin">
            <tbody>
            <% @stages_today.each do |stage| %>
              <tr>
                <td><%= link_to stage.race.name, race_path(stage.race) %></td>
                <td>
                  <%= stage.stage_number %>. <%= stage_type stage %> <%= link_to stage.name, race_stage_path(stage.race, stage) %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>

          <h5>Tomorow stages</h5>
          <table class="table table-condensed table-bordered no-margin">
            <tbody>
            <% @stages_tomorrow.each do |stage| %>
              <tr>
                <td><%= link_to stage.race.name, race_path(stage.race) %></td>
                <td>
                  <%= stage.stage_number %>. <%= stage_type stage %> <%= link_to stage.name, race_stage_path(stage.race, stage) %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="blog blog-success no-margin">
      <div class="blog-header">
        <h5 class="blog-title">Races</h5>
      </div>
      <div class="blog-body">
        <div class="table-responsive">
          <h5>Today races</h5>
          <table class="table table-condensed table-bordered no-margin">
            <tbody>
            <% if @races_today.each do |race| %>
              <tr>
                <td>
                  <i class="fa fa-calendar"></i> <%= l race.start_at %> — <%= l race.end_at %>
                </td>
                <td><%= link_to race.name, race_path(race) %></td>
                <td><%= race.stages.count %> stages</td>
              </tr>
              <% end %>
            <% else %>
              <tr><td>Nothing</td></tr>
            <% end %>
            </tbody>
          </table>

          <h5>Coming soon races</h5>
          <table class="table table-condensed table-bordered no-margin">
            <tbody>
            <% @races_tomorrow.each do |race| %>
              <tr>
                <td>
                  <i class="fa fa-calendar"></i> <%= l race.start_at %> — <%= l race.end_at %>
                </td>
                <td><%= link_to race.name, race_path(race) %></td>
                <td><%= race.stages.count %> stages</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>