<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="blog blog-info no-margin">
      <div class="blog-header">
        <h5 class="blog-title"><%= t '.stages' %></h5>
      </div>
      <div class="blog-body">
        <div class="table-responsive">
          <h5><%= t '.today_stages' %></h5>
          <% if @stages_today.any? %>
          <table class="table table-condensed table-bordered no-margin">
            <tbody>
            <% @stages_today.each do |stage| %>
              <tr>
                <td class="col-lg-3"><%= link_to stage.race.name, race_path(stage.race) %></td>
                <td>
                <% unless stage.rest_day? %>
                  <% if stage.general_predict? %>
                    <span class="badge badge-warning">G</span> <%= link_to t('message.general_predict'), race_stage_path(stage.race, stage) %>
                  <% else %>
                    <%= stage.stage_number %>. <%= stage_type stage %> <%= link_to stage.name, race_stage_path(stage.race,   stage) %> <%= predict_status stage %>
                  <% end %>
                <% else %>
                  <%= t 'message.rest_day' %>
                <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <% else %>
            <p><%= t '.no_any_stage_today' %></p>
          <% end %>

          <h5><%= t '.tomorow_stages' %></h5>
          <% if @stages_tomorrow.any? %>
          <table class="table table-condensed table-bordered no-margin">
            <tbody>
            <% @stages_tomorrow.each do |stage| %>
              <tr>
                <td class="col-lg-3"><%= link_to stage.race.name, race_path(stage.race) %></td>
                <td>
                  <%= stage.stage_number %>. <%= stage_type stage %> <%= link_to stage.name, race_stage_path(stage.race, stage) %> <%= predict_status stage %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <% else %>
            <p><%= t '.no_any_stage_tomorow' %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="blog blog-success no-margin">
      <div class="blog-header">
        <h5 class="blog-title"><%= t '.races' %></h5>
      </div>
      <div class="blog-body">
        <div class="table-responsive">
          <h5><%= t '.today_races' %></h5>
          <% if @races_today.any? %>
          <table class="table table-condensed table-bordered no-margin">
            <tbody>
            <% @races_today.each do |race| %>
              <tr>
                <td class="col-lg-6">
                  <i class="fa fa-calendar"></i> <%= l race.start_at %> — <%= l race.end_at %>
                </td>
                <td class="col-lg-4"><%= link_to race.name, race_path(race) %></td>
                <td><%= race.stages.only_race.count %> stages</td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <% else %>
            <p><%= t '.no_any_race_today' %></p>
          <% end %>


          <h5><%= t '.coming_soon_races' %></h5>
          <% if @races_tomorrow.any? %>
          <table class="table table-condensed table-bordered no-margin">
            <tbody>
            <% @races_tomorrow.each do |race| %>
              <tr>
                <td class="col-lg-6">
                  <i class="fa fa-calendar"></i> <%= l race.start_at %> — <%= l race.end_at %>
                </td>
                <td class="col-lg-4"><%= link_to race.name, race_path(race) %></td>
                <td><%= race.stages.count %> stages</td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <% else %>
            <p><%= t '.no_any_race_comming_soon' %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>
<% if @show_result %>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="blog blog-danger no-margin">
      <div class="blog-header">
        <h5 class="blog-title"><%= t '.today_results' %></h5>
      </div>
      <div class="blog-body">
        <% @stages_today.each do |stage| %>
          <% if stage.stage_results.any? %>
            <h4><%= link_to(stage.name, race_stage_path(stage.race, stage)) %></h4>
            <table class="table table-condensed table-bordered no-margin">
              <tbody>
                <%  PredictResult.get_scores_for_stage(stage).each do |score| %>
                  <tr>
                    <td style="width: 30px;"><%= score.place %></td>
                    <td>
                      <%= score.user %>
                      <%= '<span class="label label-info">online</span>'.html_safe if score.is_online %>
                    </td>
                    <td><%= score.score %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>