<%= form_for(@stage, url: race_stage_path(@stage.race, @stage), html: { novalidate: 'novalidate' }) do |f| %>

    <% @stage.stage_results.each do |result| %>
      <%= f.fields_for :stage_results, result do |rf| %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-1" style="width: 55px">
            <%= rf.text_field :place, class: 'form-control', readonly: true %>
          </div>
          <div class="col-md-6">
            <%= rf.autocomplete_field :finisher, @autocomplete_path, :id_element => "#finisher_id_#{rf.index}", class: 'form-control' %>
            <%= rf.hidden_field :finisher_id, id: "finisher_id_#{rf.index}" %>
            <%= rf.hidden_field :finisher_type  %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>

  <%= f.submit t('.save_result'), class: 'btn btn-success' %>
<% end %>