<table class="table table-condensed table-bordered no-margin">
  <tbody>
    <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= user %></td>
      <td><%= user.stage_predicts.where('stage_id = ? and score > 0', @stage.id).sum(:score) %></td>
      <td>/
        <% user.stage_predicts.where('stage_id = ? and score > 0', @stage.id).each do |predict| %>
          <%= '<b>'.html_safe if predict.guessed %>
          <%= predict.finisher.name %> - <%= predict.score %>
          <%= '</b>'.html_safe if predict.guessed %>
          /
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>