<div class="row">

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <h4>Stage results</h4>
  <table class="table table-condensed table-bordered no-margin">
    <tbody>
      <% @stage.stage_results.each do |result| %>
        <% unless result.finisher_id.nil? %>
        <tr>
          <td style="width: 30px;"><%= result.place %></td>
          <td><%= result.finisher %></td>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <h4>Your predict</h4>
  <table class="table table-condensed table-bordered no-margin">
    <tbody>
      <% @predicts.each do |predict| %>
        <tr>
          <td style="width: 30px;"><%= predict.place %></td>
          <td><%= predict.finisher %></td>
          <td><%= predict.score %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>

<h4>Predict's scores</h4>
<table class="table table-condensed table-bordered no-margin">
  <tbody>
    <% @scores.each do |score| %>
    <tr>
      <td style="width: 30px;"><%= score.place %></td>
      <td>
        <%= score.user %>
        <%= '<span class="label label-info">online</span>'.html_safe if score.is_online %>
      </td>
      <td><%= score.score %></td>
      <td>/
        <% score.user.stage_predicts.where('stage_id = ? and score > 0', @stage.id).each do |predict| %>
          <%= '<b>'.html_safe if predict.guessed %>
          <%= predict.finisher.name %> - <%= predict.score %>
          <%= '</b>'.html_safe if predict.guessed %>
          /
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>