<h2>Stage result</h2>

<%= form_for(@stage, url: race_stage_path(@stage.race_id, @stage), html: { novalidate: 'novalidate' }) do |f| %>

    <% @stage.stage_results.each do |result| %>
      <%= f.fields_for :stage_results, result do |rf| %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-1">
            <%= rf.text_field :place, class: 'form-control', readonly: true %>
          </div>
          <div class="col-md-6">
            <%= rf.autocomplete_field :rider, autocomplete_rider_last_name_riders_path, :id_element => "#rider_id_#{rf.index}", class: 'form-control' %>
            <%= rf.hidden_field :rider_id, id: "rider_id_#{rf.index}" %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>

  <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>