<div class="row">
  <div class="col-lg-8 col-md-8 col-sx-12 col-sm-12">
    <% if @stage.profile.present? %>
      <a href="<%= @stage.profile.url %>" data-lightbox="stage_profile" data-title="Stage profile">
        <%= image_tag @stage.profile.url(:thumb) %>
      </a>
    <% end %>

    <h5><%= stage_nomination_info @stage %></h5>
    <br/>

    <ul class="nav nav-tabs">
      <% if @show_scores %>
      <li class="<%= 'active' if @show_scores %>">
        <a href="#scores" data-toggle="tab" title="Scores"><%= t '.scores' %></a>
      </li>
      <% end %>
      <li class="<%= 'active' unless @show_scores %>">
        <a href="#predict" data-toggle="tab" title="Predict"><%= t '.predict' %></a>
      </li>
  <% if user_signed_in? && policy(@stage).calculate? %>
      <li class="">
        <a href="#result" data-toggle="tab" title="Result"><%= t '.result' %></a>
      </li>
  <% end %>
    </ul>
    <div class="tab-content">
  <% if @show_scores %>
      <div class="tab-pane fade <%= 'active in' if @show_scores %>" id="scores">
        <%= render 'scores_table' %>
      </div>
  <% end %>
      <div class="tab-pane fade <%= 'active in' unless @show_scores %>" id="predict">
        <%= render 'predict_form' %>
      </div>
  <% if user_signed_in? && policy(@stage).calculate? %>
      <div class="tab-pane fade" id="result">
        <%= render 'result_form' %>
      </div>
  <% end %>
    </div>

  </div>

  <div class="col-lg-4 col-md-4 col-sx-12 col-sm-12">
    <%= render partial: 'overall_standing', locals: { overall: @overall, title: t('message.overall_classifications_after_stage') } %>

    <%= render partial: 'overall_standing', locals: { overall: @overall_addition, title: t("message.#{@stage.stage_type}_classifications_after_stage") } if @overall_addition.present? %>
  </div>
</div>