<%= render 'layouts/users_links' %>

<div id='menu'>
  <ul>
    <li class="<%= active_if(action: 'dashboard') %>">
      <a href='<%= root_path %>'>
        <i class="fa fa-desktop"></i>
        <span>Dashboard</span>
        <%= current_page_tag_if(action: 'dashboard') %>
      </a>
    </li>
    <li class="<%= active_if(controller: 'races') %>">
      <a href='<%= races_path %>'>
        <i class="fa fa-trophy"></i>
        <span>Races</span>
        <%= current_page_tag_if(controller: 'races') %>
      </a>
    </li>
    <li class="<%= active_if(controller: 'team_seasons') %>">
      <a href='<%= team_seasons_path %>'>
        <i class="fa fa-users"></i>
        <span>Teams</span>
        <%= current_page_tag_if(controller: 'team_seasons') %>
      </a>
    </li>
  </ul>
</div>