<%= render 'layouts/users_links' %>

<div id='menu'>
  <ul>
    <li class="<%= active_if(action: 'dashboard') %>">
      <a href='<%= root_path %>'>
        <i class="fa fa-desktop"></i>
        <span><%= t 'menu.dashboard' %></span>
        <%= current_page_tag_if(action: 'dashboard') %>
      </a>
    </li>
    <li class="<%= active_if(controller: 'races') %>">
      <a href='<%= races_path %>'>
        <i class="fa fa-trophy"></i>
        <span><%= t 'menu.races' %></span>
        <%= current_page_tag_if(controller: 'races') %>
      </a>
    </li>
    <% if user_signed_in? and current_user.admin? %>
    <li class="<%= active_if(controller: 'team_seasons') %>">
      <a href='<%= team_seasons_path %>'>
        <i class="fa fa-users"></i>
        <span><%= t 'menu.teams' %></span>
        <%= current_page_tag_if(controller: 'team_seasons') %>
      </a>
    </li>
    <% end %>
    <li class="<%= active_if(controller: 'tournaments') %>">
      <a href='<%= tournaments_path %>'>
        <i class="fa fa-futbol-o"></i>
        <span><%= t 'menu.football' %></span>
        <%= current_page_tag_if(controller: 'tournaments') %>
      </a>
    </li>
  </ul>

<br/>
<br/>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 1, width: "210", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 95380738);
</script>
</div>