<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @page_title.present? ? @page_title + ' | Guess Games' : 'Guess Games - Pro Cycling Predictions' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Velo" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="/fonts/font-awesome.min.css" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <aside id="sidebar" class="open">
      <%= render 'layouts/sidebar' %>
    </aside>
    <div class="dashboard-wrapper">
      <div class="top-bar">
        <div class="page-title"><%= @page_title %></div>
      </div>
      <div class="main-container-full">
        <%= render_breadcrumbs builder: VeloBreadcrumbsBuilder %>
        <div class="container-fluid">
          <div class="spacer">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
      <!--div class="right-sidebar">
        <div class="add-on clearfix">
          <div class="add-on-wrapper">
          <%= content_for?(:sidebar) ? yield(:sidebar) : '' %>
          </div>
        </div>
      </div-->
    </div>
  </body>
</html>
